@font-face {
  font-family: 'titillium-regular';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
  url('../fonts/TitilliumWeb-Regular.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Regular.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-bold';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
  url('../fonts/TitilliumWeb-Bold.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Bold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-semibold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
  url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-SemiBold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-light';
  src: url('../fonts/TitilliumWeb-Light.eot');
  src: url('../fonts/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Light.woff') format('woff'),
  url('../fonts/TitilliumWeb-Light.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Light.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium-italic';
  src: url('../fonts/TitilliumWeb-Italic.eot');
  src: url('../fonts/TitilliumWeb-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Italic.woff') format('woff'),
  url('../fonts/TitilliumWeb-Italic.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Italic.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}
.clearfix() {
  overflow: hidden;
  zoom:1;
  /* & - знак використовується для застосування
  псевдокласів таких як :hover, :first-child, :last-child та інших; */
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;

  }
}
@colorgrey: #878787;
@colorwhite: #ffffff;
.radius(@_bor_rad: 3px, @_bg: @colorgrey){
  border-radius: @_bor_rad;
  background: @_bg;
}
.image_ava(@_heit: 200px, @_wigth: 200px, @_bor_radius: 50px, @_bgr: @colorgrey){
  height: @_heit;
  width: @_wigth;
  .radius(@_bor_rad: @_bor_radius, @_bg: @_bgr);
}
.font-basic(@_font: titillium-regular, @_size: 16px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: none, @_line: 1, @_decor: none){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper;
  text-align: @_align;
  line-height: @_line;
  text-decoration: @_decor;
}
.elements_style(@_float: left, @_width: 260px, @_list: none){
  float: @_float;
  width: @_width;
  list-style-type: @_list;
}

body {
  scroll-behavior: smooth; /* плавный скролл */
}

.wrapper{
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.violet{
  .clearfix();
  background: #87509c;
        .wrapper {
            .main{
              .work{
                a{
                  .font-basic(@_font: titillium-semibold, @_line: +25px);                     
                  background: #eb7d4b;
                  border-radius: 5px;
                  padding: 20px 60px;
                }
                margin: 60px auto 145px auto;
              }
              h1{
                font-family: titillium-bold;
                font-size: 42px;
                color: #ffffff;
                line-height: 49px;
              }
            }
            .header{
              padding: 60px;
              .menu{
                float: right;
                ul{
                  margin: 0px;
                  li{
                    list-style-type: none;
                    float: left;
                    padding: 10px;
                    a{
                      .font-basic();
                    
                    &:hover{ 
                      padding: 3px 6px;           
                      .radius();
                    }
                    }
                  }
                }
              }
              .logo{
                .elements_style(@_width: 115px);
      }
    }
  }
}
.green{
  .clearfix();
  background: #17c2a4;
   .wrapper{
    .main{
      h2{
        margin-top: 115px;
        .font-basic(@_font:titillium-bold, @_size: 40px, @_line: 30px);
      }
      h4{
        margin-top: 50px;
       .font-basic(@_font:titillium-regular, @_size: 18px, @_line: 26px); 
      }
      .elements{
        margin: 90px auto 125px auto;
        overflow: hidden;
        img{
          height: 125px;
        }
        li{
          list-style-type: none;
        }
        
        h3{
          margin: 60px auto 25px auto;
          .font-basic(@_font: 'titillium-bold', @_size: 24px, @_line: 18px, @_upper: uppercase
          );
        }
        span{
          .font-basic(@_font:'titillium-light', @_line: 16px);
        }
        .branding, .design, .development, .rocket{
          .elements_style();
        }
      }
    }
  }
}
.grey{
  .clearfix();
  background: #e7f1f8;
  .wrapper{
    .main{
  h2{
    margin: 120px 0px 0px 0px;
    .font-basic(@_font: 'titillium-bold', @_size: 40px, @_line: 30px, @_color: #3c4761, @_upper: uppercase);
    }
  h3{
    .font-basic(@_font: 'titillium-regular', @_line: 26px, @_color: #3c4761, @_upper: uppercase);
    margin: 50px 0px 80px 0px;
  }
    .elements{
      .anna, .kate, .olivia, .ashley{
        .soc_logo{
          margin: 35px auto 125px auto;
          list-style-type: none;
          li{
            float: left;
            padding: 5px 10px;
          }
        }
        .elements_style();
        img{
          .radius();
          background: none;
        }
        h3{
          margin-bottom: 30px;
          .font-basic(@_font: 'titillium-bold', @_size: 24px, @_line: 18px, @_color: #3c4761, @_upper: uppercase);
        }
        p{
           margin-bottom: 30px;
          .font-basic(@_color: #30bae7);
        }
        span{
          .font-basic(@_font: 'titillium-light', @_color: @colorgrey);
        }
      }
     }
    }
  }
 }
.white {
  .clearfix();
  background: @colorwhite;
  .wrapper{
    .main{
      .elements{
        margin: 90px auto 120px auto;
        .one, .two, .three, .four{
          .elements_style;
      }
    }
      h2{
        .font-basic(@_font: 'titillium-bold', @_size: 40px, @_line: 30px, @_color: #3c4761, @_upper: uppercase);
        margin: 120px auto 50px auto;
      }
      
      h4{
        .font-basic(@_size: 18px, @_color: @colorgrey, @_line: 26px);
        margin: 0px auto 90px auto;
      }
      h3{
        .font-basic(@_font: 'titillium-bold', @_size: 24px, @_line: 18px, @_color: #3c4761, @_upper: uppercase);
        margin: 25px auto 125px auto;
      }
    }
  }
}

.broun{
  .clearfix();
  background: #ffdd99;
  .wrapper{
    .main{
      .menu{
        margin: 45px auto 60px 0px;
        ul{
          overflow: hidden;
          padding: 0px;
          margin: 0px auto 0px 400px;
          li{
            float: left;
            list-style-type: none;
            padding: 10px;
            a{
              .font-basic(@_color: #393939);
              .radius(@_bg: #ebc985);
               padding: 0px 12px;
            &:hover{
              .radius(@_bg: @colorwhite);
              }  
            }
          }
        }
      }
      .note{
        .clearfix();
        .note_1, .note_2, .note_3, .note_4{
          .elements_style(@_width: 540px)
        }
        p{
          .font-basic(@_size: 18px, @_color: @colorgrey);
          margin: 30px auto 70px auto;
        }
      }
      .load{
        margin: 80px auto 110px auto;
        a{
         .font-basic();
         .radius(@_bor_rad: 8px, @_bg:#17c2a4);         
          padding: 30px 60px;
        }
      }
      h2{
        .font-basic(@_font: 'titillium-bold', @_size: 40px, @_line: 30px, @_color: #3c4761, @_upper: uppercase);
        margin: 120px auto 50px auto;
      }
      h3{
          color: #3c4761;
          margin-bottom: 0px;
      }
      h4{
        .font-basic(@_size: 18px, @_color: @colorgrey, @_line: 26px);
        margin: 0px auto 90px auto;
      }
    }
  }
}
.red{
  .clearfix();
  background: #d74680;
  .wrapper{
    .clearfix();
    .main{
      .clearfix();
      h2{
        margin: 120px auto 50px auto;
        .font-basic(@_font: 'titillium-bold', @_size: 40px, @_line: 30px, @_upper: uppercase);
      }
      h4{
        margin: 0px auto 70px auto;
        .font-basic(@_size: 18px, @_line: 26px);
      }
      .block{
        overflow: hidden;
        .block_1, .block_2, .block_3, .block_4{
          float: left;
          width: 540px;
          margin-bottom: 150px;
        }
        .block_text{
          margin-left: 35px;
          float: left;
          text-align: left;
        }
        .block_image{
          float: left;
          text-align: left;
        }
        span{
          .font-basic(@_font:'titillium-italic', @_size: 21px, @_line: 31px);
          }
        h3{
          margin-top: 30px;
          .font-basic(@_font:'titillium-bold', @_size: 24px, @_line: 26px);
        }
        a{
          .font-basic(@_size: 18px, @_color: #ffdd99, @_line: 26px);
        }
      }
    }
  }
}
.blue{
  .clearfix();
  background: #3c5499;
  .wrapper{
    .main{
      h2{
        .font-basic(@_font:'titillium-bold', @_size: 40px, @_line: 30px);
        margin: 120px auto 50px auto;
        }
      h4{
        .font-basic(@_size: 18px, @_line: 26px);
        margin: 0px auto 80px auto;
        }
      .regestration{
        width: 860px;
        margin:auto auto 120px 120px;
        input{
          .radius(@_bg: #273a71, @_bor_rad: 5px);
          width: 415px;
          padding: 20px 0px;
          margin: 5px;
        }
        textarea{
          .radius(@_bg: #273a71, @_bor_rad: 5px);
          width: 850px;
          height: 200px;
          margin-top: 20px;
        }
        button{
          .radius(@_bg: #30bae7, @_bor_rad: 5px);
          .font-basic(@_font: 'titillium-semibold', @_size: 18px, @_line: 27px);
          padding: 20px 60px;
          margin-top: 20px;
        }
      }
    }
  }
}
.footer{
  .clearfix();
  background: #344b8e;
  .wrapper{
    ul{
      overflow: hidden;
      li{
        float: left;
        padding: 30px;
        list-style-type: none;
        a{
          .font-basic(@_font: 'titillium-semibold', @_size: 24px, @_line: 30px);
          &:hover{
          color: #30bae7;
          }
        }
      }
    }
  }
}
